/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	width: 1440px;
	height: 1700px;
	
}
.wrapper{
	width: 1190px;
	height: 1064px;
	background-color: #e8e8e8;
	background-image: url('/img/ellipse_1_copy_4.png');
}

.story{
	border: 2px solid black;
	width: 199px;
	height: 44px;
	background-color: rgba(128,183,179,0.54);
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);	

}
.picture-group{
	width: 841px;
	height: 561px;
	box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);
	
	background-image: url('/img/light_man_copy_26.jpg'), url('/img/layer_1_27.png');
	background-repeat: no-repeat;
	background-position: center, center;
	background-size: 100%, 100%;
}

.vector-button{
	color: black;
}


